{% load static %}
<html>
	<head>
		
	</head>
	<body>
		
			<div class="row header-row">
				<div class ="col-lg-1"></div>
				<div class="col-lg-7">
				<ul class="nav">
					 <li class="nav-item nav-link-text">
					    <a class="nav-link active padding-0" style="padding-left: 0px;
						padding-right: 0px; color:#0F72B0;" href="/about/">Armin Ronacher</a>
					 </li>
					<li class="nav-item">
					    <a class="nav-link active" style="padding-left: 0px;
						padding-right: 0px; font-size: 22px;">'s Thoughts and Writings</a>
					 </li>
				</ul>
				</div>
					 
				<div class="col-lg-4">
					<ul class="nav nav-link-text">
					  <li class="nav-item">
					    <a class="nav-link active" style="color:#0F72B0;" href="/blogs/">blog</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" style="color:#0F72B0;" href="/archive/">archive</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" style="color:#0F72B0;" href="/tags/">tags</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" style="color:#0F72B0;" href="/about/">about</a>
					  </li>
					</ul>
				</div>
			</div>
		
	</body>
</html>